/* nav{
    z-index: 2;
    margin: 0;
    padding: 0;
    background-color: #393e46;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav *{
    background-color: #393e46;
}

.nav-links{
    display: flex;
    list-style-type: none;
}

.nav-items{
    padding-right: 1em;
}

.nav-items a{
    text-decoration: none;
    color: #4ecca3;
}

.seperator{
    color: #232931;
    padding-right: 1em;
} */